.TopBarModule {
    display: flex;
    background-color: #d65a31;
    justify-content: center;
    height: 10%;
    align-items: center;
    text-align: center;
}

.TopBarModule_HeaderLeft {
    flex: 0 0 40%;
    padding: 10px;
}

.TopBarModule_HeaderRight {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-evenly;
}

.TopBarModule_HeaderRight-navElement {
    padding: 5px;
    border-bottom: 2px solid #ff5900;
}

.TopBarModule_HeaderRight-navElement:hover {
    border-bottom: 2px solid #ff9500;
    cursor: pointer;
}